.App {
    text-align: center;
}


.ul{
    margin-top: -5px;

}

.main-header {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    background-image: linear-gradient(to top, #dcfcfe, white 50%, white);
    font-family: 'Open Sans', Georgia, helvetica, arial, sans-serif;
    font-stretch: ultra-expanded;
    font-style:oblique;
    text-shadow: #408080;


}

.button {
    align-items: center;
    background-image: linear-gradient(to top, lightgray, white 50%, white);
    border: solid 1px gray;
    border-radius: 1px;
    color: inherit;
    display: inline-flex;
    font: inherit;
    justify-content: center;
    min-height: 6px;
    margin: 3px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

}

.link {
    align-items: center;
    background-image: linear-gradient(to top, #dcfcfe, white 50%, white);
    border: solid 1px gray;
    border-radius: 1px;
    color: inherit;
    display: inline-flex;
    font: inherit;
    justify-content: center;
    min-height: 6px;
    margin: 3px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.main-all-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: calc(11px + 1vmin);
    color:#4d4d00;
}

.App-link {
    color: #ffff80;
    color:green;

}
.main-link {

    color: #004000;
    background-image: linear-gradient(to top, #dcfcfe, white 50%, white);
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 1vmin);
    text-align: right;


}

.tnd-link {

    color: #004000;
    background-image: linear-gradient(to top, #dcfcfe, #dcfcfe 50%, white);
    align-items: center;
    justify-content: center;
    font-size: calc(4px + 1vmin);
    text-align: center;


}
.table{
    background-image: linear-gradient(to top, #dcfcfe, white 50%, white);
}

.leftAlign{
    font-size: calc(4px + 1vmin);
    text-align: left;
    justify-content: left;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
