
.button {
    align-items: center;
    background-image: linear-gradient(to top, lightgray, white 50%, white);
    border: solid 1px gray;
    border-radius: 1px;
    color: inherit;
    display: inline-flex;
    font: inherit;
    justify-content: center;
    min-height: 6px;
    margin: 3px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

}

.spdisplay {

    display:flex;   
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;    
    flex-basis: content;
    flex-flow: wrap-reverse;  
    justify-content: space-evenly;  
    flex-shrink: 3;
    margin: 0,0,0,0;
    border-right: 10px;
    border-color:  #012424;
    color:#012424;   
    font-size:medium;    


}


.spdisplayHeader {
    flex:1;
    text-align: center;   
    border: solid 1px gray;
    font-weight:bold;
    font-stretch: expanded;
    justify-content: center;   
    margin: 1%;  
    color:#012424;   
    font-size:medium;    
    background-image: linear-gradient(to top, white, white 50%,lightgray);

}

.spdisplayData {
    flex:1;
    text-align: center;     
    font-weight:normal;
    font-stretch: expanded;
    justify-content: center;   
    margin: 1%;  
    color:#012424;   
    font-size:small;    
   

}
.scrollbar{
    display:flex;

}

.scrollbar button{
  flex:1; 

}

.scrollbar button:hover{
  
    color:#012424;
    font-weight:bold;
}