.topheader{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;    
    flex-basis: content;
    flex-flow: wrap-reverse;  
    justify-content: space-evenly;  
    flex-shrink: 3;
    margin: 0,0,0,0;
    color:white;   
    font-size:small;    
    background-image: linear-gradient(to top, #7f8688, #012424 50%, #015858);

}
.middleheader{
    display:flex;
    margin: 1px,0,0,0;
    color:white;
    text-align: center;   
    align-items: left;
    background-image: linear-gradient(to top, #7f8688, #012424 50%, #015858);
}
.middlemenubox{
    flex:3;
    text-align: center;    
    font-weight:bolder;
     font-size: xx-large;
    font-stretch: extra-expanded;    
    align-self: center;
    margin: 0%;
}

.middlemenuright{
    flex:1;
    align-self: center;
    margin: 0%;
}

.middlemenubox img {
   align-items: right;
   
}

.menubox{
    flex:3;
    text-align: right;
    background-image: linear-gradient(to top, #7f8688, #012424 50%, #015858);
    box-sizing: content-box;
    border-color: #012424;
    font-weight:bold;
    font-stretch: expanded;
    justify-content: right;
    margin: 4;
    color:white;
}

.menubox span{
    margin: 1%;
    color:white;
    border-color: #012424;
    background-image: linear-gradient(to top, #7f8688, #012424 50%, #015858);
}
.menubox span:hover{
    font-weight: bolder;
    margin: 1%;
    color:#012424;
    cursor:pointer;
    background-image: linear-gradient(to top, #7f8688, #cee0e0  50%,white);
}


